@import url("reset.css");
@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=cyrillic-ext,latin-ext,latin,cyrillic");
@import url("fonts/fonts.css");
@import url("fonts/fileicon.css");
@import url("plugins/jquery.fs.picker.css");
@import url("plugins/jquery.fs.tabber.css");
@import url("http://cdn.jsdelivr.net/fontawesome/4.2.0/css/font-awesome.min.css");
@import url("bootstrap.css");
@import url("redactor.css");
@import url("plugins/multi-select.css");
@import url("plugins/frosty.min.css");
@import url("tutorial.css");
/*!
 * Fluidable Grid System 1.1.2
 *
 * Creator: Andri Sigurðsson
 * Site: http://fluidable.com
 * Date: 07.08.2014
 */
/*
	
	Config

*/
/*
 	
	Mobile and up
 
*/
.col-group {
  zoom: 1;
}
.col-group:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.col-group [class*="col-"] {
  padding-left: 16px;
  padding-right: 16px;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col-group .col-group {
  padding: 0;
}
.col-group [class*="push-"],
.col-group [class*="pull-"] {
  position: relative;
}
.col-mb-12 {
  width: 100%;
  float: left;
  padding-right: 16px;
  padding-left: 16px;
}
.col-mb-11 {
  width: 91.66666667%;
  float: left;
  padding-right: 16px;
  padding-left: 16px;
}
.col-mb-10 {
  width: 83.33333333%;
  float: left;
  padding-right: 16px;
  padding-left: 16px;
}
.col-mb-9 {
  width: 75%;
  float: left;
  padding-right: 16px;
  padding-left: 16px;
}
.col-mb-8 {
  width: 66.66666667%;
  float: left;
  padding-right: 16px;
  padding-left: 16px;
}
.col-mb-7 {
  width: 58.33333333%;
  float: left;
  padding-right: 16px;
  padding-left: 16px;
}
.col-mb-6 {
  width: 50%;
  float: left;
  padding-right: 16px;
  padding-left: 16px;
}
.col-mb-5 {
  width: 41.66666667%;
  float: left;
  padding-right: 16px;
  padding-left: 16px;
}
.col-mb-4 {
  width: 33.33333333%;
  float: left;
  padding-right: 16px;
  padding-left: 16px;
}
.col-mb-3 {
  width: 25%;
  float: left;
  padding-right: 16px;
  padding-left: 16px;
}
.col-mb-2 {
  width: 16.66666667%;
  float: left;
  padding-right: 16px;
  padding-left: 16px;
}
.col-mb-1 {
  width: 8.33333333%;
  float: left;
  padding-right: 16px;
  padding-left: 16px;
}
/*
 	
	Tablet and up
 
*/
@media (min-width: 768px) {
  .col-12 {
    width: 100%;
    float: left;
  }
  .col-11 {
    width: 91.66666667%;
    float: left;
  }
  .col-10 {
    width: 83.33333333%;
    float: left;
  }
  .col-9 {
    width: 75%;
    float: left;
  }
  .col-8 {
    width: 66.66666667%;
    float: left;
  }
  .col-7 {
    width: 58.33333333%;
    float: left;
  }
  .col-6 {
    width: 50%;
    float: left;
  }
  .col-5 {
    width: 41.66666667%;
    float: left;
  }
  .col-4 {
    width: 33.33333333%;
    float: left;
  }
  .col-3 {
    width: 25%;
    float: left;
  }
  .col-2 {
    width: 16.66666667%;
    float: left;
  }
  .col-1 {
    width: 8.33333333%;
    float: left;
  }
  .col-offset-12 {
    margin-left: 100%;
  }
  .col-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-offset-9 {
    margin-left: 75%;
  }
  .col-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-offset-6 {
    margin-left: 50%;
  }
  .col-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-offset-3 {
    margin-left: 25%;
  }
  .col-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-offset-0 {
    margin-left: 0%;
  }
  .col-pull-12 {
    right: 100%;
  }
  .col-pull-11 {
    right: 91.66666667%;
  }
  .col-pull-10 {
    right: 83.33333333%;
  }
  .col-pull-9 {
    right: 75%;
  }
  .col-pull-8 {
    right: 66.66666667%;
  }
  .col-pull-7 {
    right: 58.33333333%;
  }
  .col-pull-6 {
    right: 50%;
  }
  .col-pull-5 {
    right: 41.66666667%;
  }
  .col-pull-4 {
    right: 33.33333333%;
  }
  .col-pull-3 {
    right: 25%;
  }
  .col-pull-2 {
    right: 16.66666667%;
  }
  .col-pull-1 {
    right: 8.33333333%;
  }
  .col-pull-0 {
    right: 0%;
  }
  .col-push-12 {
    left: 100%;
  }
  .col-push-11 {
    left: 91.66666667%;
  }
  .col-push-10 {
    left: 83.33333333%;
  }
  .col-push-9 {
    left: 75%;
  }
  .col-push-8 {
    left: 66.66666667%;
  }
  .col-push-7 {
    left: 58.33333333%;
  }
  .col-push-6 {
    left: 50%;
  }
  .col-push-5 {
    left: 41.66666667%;
  }
  .col-push-4 {
    left: 33.33333333%;
  }
  .col-push-3 {
    left: 25%;
  }
  .col-push-2 {
    left: 16.66666667%;
  }
  .col-push-1 {
    left: 8.33333333%;
  }
  .col-push-0 {
    left: 0%;
  }
  .col-group {
    margin-right: -16px;
    margin-left: -16px;
    zoom: 1;
  }
  .col-group:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
  }
}
/*
 	
	Desktop and up
 
*/
@media (min-width: 992px) {
  .col-dt-12 {
    width: 100%;
    float: left;
  }
  .col-dt-11 {
    width: 91.66666667%;
    float: left;
  }
  .col-dt-10 {
    width: 83.33333333%;
    float: left;
  }
  .col-dt-9 {
    width: 75%;
    float: left;
  }
  .col-dt-8 {
    width: 66.66666667%;
    float: left;
  }
  .col-dt-7 {
    width: 58.33333333%;
    float: left;
  }
  .col-dt-6 {
    width: 50%;
    float: left;
  }
  .col-dt-5 {
    width: 41.66666667%;
    float: left;
  }
  .col-dt-4 {
    width: 33.33333333%;
    float: left;
  }
  .col-dt-3 {
    width: 25%;
    float: left;
  }
  .col-dt-2 {
    width: 16.66666667%;
    float: left;
  }
  .col-dt-1 {
    width: 8.33333333%;
    float: left;
  }
  .col-dt-offset-12 {
    margin-left: 100%;
  }
  .col-dt-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-dt-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-dt-offset-9 {
    margin-left: 75%;
  }
  .col-dt-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-dt-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-dt-offset-6 {
    margin-left: 50%;
  }
  .col-dt-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-dt-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-dt-offset-3 {
    margin-left: 25%;
  }
  .col-dt-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-dt-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-dt-offset-0 {
    margin-left: 0%;
  }
  .col-dt-pull-12 {
    right: 100%;
  }
  .col-dt-pull-11 {
    right: 91.66666667%;
  }
  .col-dt-pull-10 {
    right: 83.33333333%;
  }
  .col-dt-pull-9 {
    right: 75%;
  }
  .col-dt-pull-8 {
    right: 66.66666667%;
  }
  .col-dt-pull-7 {
    right: 58.33333333%;
  }
  .col-dt-pull-6 {
    right: 50%;
  }
  .col-dt-pull-5 {
    right: 41.66666667%;
  }
  .col-dt-pull-4 {
    right: 33.33333333%;
  }
  .col-dt-pull-3 {
    right: 25%;
  }
  .col-dt-pull-2 {
    right: 16.66666667%;
  }
  .col-dt-pull-1 {
    right: 8.33333333%;
  }
  .col-dt-pull-0 {
    right: 0%;
  }
  .col-dt-push-12 {
    left: 100%;
  }
  .col-dt-push-11 {
    left: 91.66666667%;
  }
  .col-dt-push-10 {
    left: 83.33333333%;
  }
  .col-dt-push-9 {
    left: 75%;
  }
  .col-dt-push-8 {
    left: 66.66666667%;
  }
  .col-dt-push-7 {
    left: 58.33333333%;
  }
  .col-dt-push-6 {
    left: 50%;
  }
  .col-dt-push-5 {
    left: 41.66666667%;
  }
  .col-dt-push-4 {
    left: 33.33333333%;
  }
  .col-dt-push-3 {
    left: 25%;
  }
  .col-dt-push-2 {
    left: 16.66666667%;
  }
  .col-dt-push-1 {
    left: 8.33333333%;
  }
  .col-dt-push-0 {
    left: 0%;
  }
}
/*
 	
	Large desktop and up
 
*/
@media (min-width: 1200px) {
  .col-ld-12 {
    width: 100%;
    float: left;
  }
  .col-ld-11 {
    width: 91.66666667%;
    float: left;
  }
  .col-ld-10 {
    width: 83.33333333%;
    float: left;
  }
  .col-ld-9 {
    width: 75%;
    float: left;
  }
  .col-ld-8 {
    width: 66.66666667%;
    float: left;
  }
  .col-ld-7 {
    width: 58.33333333%;
    float: left;
  }
  .col-ld-6 {
    width: 50%;
    float: left;
  }
  .col-ld-5 {
    width: 41.66666667%;
    float: left;
  }
  .col-ld-4 {
    width: 33.33333333%;
    float: left;
  }
  .col-ld-3 {
    width: 25%;
    float: left;
  }
  .col-ld-2 {
    width: 16.66666667%;
    float: left;
  }
  .col-ld-1 {
    width: 8.33333333%;
    float: left;
  }
  .col-ld-offset-12 {
    margin-left: 100%;
  }
  .col-ld-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-ld-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-ld-offset-9 {
    margin-left: 75%;
  }
  .col-ld-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-ld-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-ld-offset-6 {
    margin-left: 50%;
  }
  .col-ld-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-ld-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-ld-offset-3 {
    margin-left: 25%;
  }
  .col-ld-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-ld-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-ld-offset-0 {
    margin-left: 0%;
  }
  .col-ld-pull-12 {
    right: 100%;
  }
  .col-ld-pull-11 {
    right: 91.66666667%;
  }
  .col-ld-pull-10 {
    right: 83.33333333%;
  }
  .col-ld-pull-9 {
    right: 75%;
  }
  .col-ld-pull-8 {
    right: 66.66666667%;
  }
  .col-ld-pull-7 {
    right: 58.33333333%;
  }
  .col-ld-pull-6 {
    right: 50%;
  }
  .col-ld-pull-5 {
    right: 41.66666667%;
  }
  .col-ld-pull-4 {
    right: 33.33333333%;
  }
  .col-ld-pull-3 {
    right: 25%;
  }
  .col-ld-pull-2 {
    right: 16.66666667%;
  }
  .col-ld-pull-1 {
    right: 8.33333333%;
  }
  .col-ld-pull-0 {
    right: 0%;
  }
  .col-ld-push-12 {
    left: 100%;
  }
  .col-ld-push-11 {
    left: 91.66666667%;
  }
  .col-ld-push-10 {
    left: 83.33333333%;
  }
  .col-ld-push-9 {
    left: 75%;
  }
  .col-ld-push-8 {
    left: 66.66666667%;
  }
  .col-ld-push-7 {
    left: 58.33333333%;
  }
  .col-ld-push-6 {
    left: 50%;
  }
  .col-ld-push-5 {
    left: 41.66666667%;
  }
  .col-ld-push-4 {
    left: 33.33333333%;
  }
  .col-ld-push-3 {
    left: 25%;
  }
  .col-ld-push-2 {
    left: 16.66666667%;
  }
  .col-ld-push-1 {
    left: 8.33333333%;
  }
  .col-ld-push-0 {
    left: 0%;
  }
}
/*
 	
	Other
 
*/
.center-block {
  margin: 0 auto;
}
.clear {
  zoom: 1;
}
.clear:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    -ms-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomOut {
  50% {
    opacity: 0;
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomOut {
  50% {
    opacity: 0;
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }
  100% {
    opacity: 0;
  }
}
.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.shakeIt {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: shakeIt;
  animation-name: shakeIt;
}
@-webkit-keyframes shakeIt {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shakeIt {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.stml-logo {
  width: 90px;
  height: 90px;
  display: inline-block;
  position: relative;
}
.stml-logo .rnd-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  width: 45px;
  overflow: hidden;
}
.stml-logo .rnd-1 .rnd-1-inner {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 7px solid #444444;
}
.stml-logo .rnd-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 45px;
  width: 45px;
  overflow: hidden;
}
.stml-logo .rnd-2 .rnd-2-inner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 7px solid #444444;
}
.stml-logo .rnd-3 {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  overflow: hidden;
}
.stml-logo .rnd-3 .rnd-3-inner {
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 7px solid #c0392b;
}
.stml-logo .rnd-4 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  left: 50%;
  margin-left: -35px;
  margin-top: -35px;
  -webkit-animation: rotating 1.5s ease-in-out infinite;
  -moz-animation: rotating 1.5s ease-in-out infinite;
  -ms-animation: rotating 1.5s ease-in-out infinite;
  -o-animation: rotating 1.5s ease-in-out infinite;
  animation: rotating 1.5s ease-in-out infinite;
}
.stml-logo .rnd-4 .rnd-4-inner {
  position: absolute;
  top: 0;
  right: 0;
  width: 31.81818182px;
  height: 70px;
  overflow: hidden;
}
.stml-logo .rnd-4 .rnd-4-inner .runner {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 7px solid #2980b9;
}
.din {
  font-family: 'pf_dindisplay_probold', sans-serif;
  font-weight: bold;
}
.dinUp {
  font-family: 'pf_dindisplay_probold', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.pt {
  font-family: 'PT Sans', sans-serif;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
html,
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 18px;
}
body {
  min-height: 100%;
  width: 100%;
  top: 0 !important;
}
img {
  max-width: 100%;
}
input[type=text],
input[type=password],
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  -webkit-transition: color 0.1s ease;
  -moz-transition: color 0.1s ease;
  -ms-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
}
a,
a:focus,
a:active {
  color: #2c3e50;
}
a:hover {
  color: #7997b5;
}
strong,
b {
  font-weight: bold;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.red {
  color: #e74c3c;
}
.green {
  color: #00b16a;
}
.middle td {
  vertical-align: middle;
}
sup {
  position: relative;
  top: -5px;
  left: 2px;
  font-size: 11px;
}
i {
  font-style: italic;
}
.container {
  padding: 0 35px;
  max-width: 1370px;
  margin: 0 auto;
}
header {
  height: 51px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  /*
  position: fixed;
  top: 0;
  left: 0;
  */
  width: 100%;
  z-index: 9;
}
header .logo {
  display: inline-block;
  width: 180px;
  /*
span {
        .dinUp;
        color: @blue;
        font-size: 11px;
        line-height: 13px;
        display: inline-block;
        vertical-align: middle;
    }
*/
}
header .logo img {
  display: inline-block;
  vertical-align: middle;
}
header .logo span {
  font-family: 'pf_dindisplay_probold', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #2c3e50;
  font-size: 26px;
  margin-left: 7px;
  line-height: 13px;
  display: inline-block;
  vertical-align: middle;
}
header .logo a {
  text-decoration: none;
}
header .nav {
  display: inline-block;
}
header .nav .link {
  display: inline-block;
}
header .nav .link.active > a,
header .nav .link:hover > a {
  color: #8a8c8d;
  background: #ecf0f1;
}
header .nav .big-nav a {
  display: inline-block;
  line-height: 51px;
  padding: 0 13px;
  text-decoration: none;
  color: #000;
  margin-left: -4px;
}
header .nav .small-nav {
  display: none;
}
header .nav .small-nav .link {
  vertical-align: sub;
  margin-left: 10px;
}
header .nav .more {
  position: relative;
}
header .nav .more .more-menu {
  display: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 150%;
  box-shadow: 0px 6px 5px -1px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: -4px;
  background: #fff;
  z-index: 9;
}
header .nav .more .more-menu a {
  width: 100%;
  box-sizing: border-box;
  margin-left: 0 !important;
  text-align: left;
  line-height: normal;
  padding: 10px 9px;
  border-bottom: 1px solid #eee;
}
header .nav .more .more-menu a:last-child {
  border-bottom: none;
}
header .nav .more .more-menu a.active,
header .nav .more .more-menu a:hover {
  color: #8a8c8d;
  background: #ecf0f1;
}
header .nav .more .more-menu .more-menu-links {
  position: relative;
  width: 100%;
}
header .nav .more .more-menu .more-menu-links span {
  line-height: normal !important;
}
header .nav .more:hover .more-menu {
  display: block;
}
header .search {
  height: 51px;
  line-height: 51px;
  position: relative;
  display: inline-block;
}
header .search form {
  position: relative;
}
header .search form input {
  font-size: 12px;
  color: #58666e;
  border: none;
  box-shadow: none;
  outline: none;
  color: #2c3e50;
  background: #ecf0f1;
  height: 30px;
  width: 175px;
  padding: 0 25px 0 12px;
  border-radius: 12px;
}
header .search form button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  height: 51px;
  position: absolute;
  top: 0;
  right: 1px;
}
header .search form button i {
  display: block;
  width: 11px;
  height: 11px;
  background: url(../img/search-icon.png) no-repeat center center;
}
header .search form button:hover {
  opacity: .7;
}
header .user {
  text-align: right;
  height: 51px;
  padding-left: 30px;
  display: inline-block;
}
header .user .language {
  display: inline-block;
  margin-right: 16px;
}
header .user .mails {
  display: inline-block;
  margin-right: 16px;
  position: relative;
}
header .user .mails span {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  position: absolute;
  top: 0;
  right: 0;
  background: #e74c3c;
  color: #fff;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  margin-top: -10px;
  margin-right: -10px;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
header .user .mails:hover span {
  margin-top: -12px;
}
header .user .profile {
  display: inline-block;
  margin-right: 5px;
}
header .user .avatar {
  display: inline-block;
  vertical-align: middle;
}
header .user .avatar .the-avatar-box {
  width: 44px;
  height: 44px;
}
a.caret-link {
  color: #000;
  text-decoration: none;
  display: inline-block;
}
a.caret-link span {
  margin-right: 3px;
}
a.caret-link:hover {
  border-bottom: 1px dashed #000;
}
i.caret {
  display: inline-block;
  width: 7px;
  height: 3px;
  vertical-align: middle;
  background: url(../img/icon-caret.png) no-repeat center center;
}
i.mail {
  display: inline-block;
  width: 16px;
  height: 12px;
  background: url(../img/icon-mail.png) no-repeat center center;
}
i.print {
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url(../img/icon-print.png) no-repeat center center;
  vertical-align: middle;
}
i.timer {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../img/icon-timer.png) no-repeat center center;
  vertical-align: middle;
}
menu {
  background: #ecf0f1;
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.2);
  height: 33px;
  line-height: 33px;
  position: relative;
  z-index: 8;
}
menu .menu-item {
  margin-left: 30px;
  display: inline-block;
  font-size: 13px;
  color: #2c3e50;
}
.wrapper {
  margin-top: 20px;
}
.page-title {
  font-size: 21px;
  line-height: 24px;
  color: #2c3e50;
  display: inline-block;
}
.page-title small {
  display: block;
  font-weight: normal !important;
}
.page-subtitle {
  font-size: 13px;
  color: #8a8c8d;
  margin-top: 4px;
}
.page-subtitle a {
  color: #8a8c8d;
}
.page-subtitle a:hover {
  color: #bebfbf;
}
.page-heading {
  margin-bottom: 5px;
}
.page-heading .courses-list {
  display: inline-block;
  font-size: 12px;
  width: 150px;
  margin-left: 10px;
  color: #959595;
}
.page-heading .courses-list a {
  color: #959595;
}
.page-heading .page-title {
  font-style: 19px;
  font-weight: bold;
}
.page-heading .page-print {
  color: #2c3e50;
  text-decoration: none;
}
.page-heading .page-print i {
  margin-right: 5px;
}
.page-heading .page-print:hover span {
  text-decoration: underline;
}
tr[data-href] {
  cursor: pointer;
}
table.all-courses {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
}
table.all-courses tr td {
  font-size: 13px;
  color: #2c3e50;
  padding: 16px 20px;
  background: #ecf0f1;
}
table.all-courses tr td a {
  text-decoration: none;
}
table.all-courses tr td a span {
  color: #000;
}
table.all-courses tr td a:hover {
  text-decoration: underline;
}
table.all-courses tr td:last-child {
  vertical-align: middle;
}
table.all-courses tr:hover td {
  background: #e1e5e5;
}
.progress-bar {
  margin-top: 20px;
}
.progress-bar .progress-bar-title {
  color: #8a8c8d;
  font-size: 12px;
}
.progress-bar .progress-bar-title span {
  color: #2c3e50;
}
.progress-out {
  height: 6px;
  background: #a8b4c0;
  width: 100%;
  margin-top: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.progress-out .progress-in {
  height: 100%;
  background: #00b16a;
}
.course-icons {
  width: 170px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}
.course-icons .course-icon {
  margin-bottom: 7px;
}
.course-icons .course-icon .ci {
  display: inline-block;
  width: 11px;
}
.course-icons .course-icon a {
  margin-left: 6px;
  display: inline-block;
}
.sidebar {
  background: #ecf0f1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.sidebar .sidebar-item .sidebar-title {
  font-size: 16px;
  color: #2c3e50;
  padding: 11px 18px;
  background: #fff;
}
.sidebar .sidebar-item .sidebar-title a {
  text-decoration: none;
}
.sidebar .sidebar-item .sidebar-title a:hover {
  text-decoration: underline;
}
.sidebar .sidebar-item .sidebar-content {
  padding: 15px 18px;
}
.sidebar .sidebar-item .sidebar-content.notice {
  background-color: #f1c30f;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
}
.sidebar .sidebar-item .sidebar-content .sidebar-small-item {
  margin-bottom: 15px;
}
.sidebar .sidebar-item .sidebar-content .sidebar-small-item span {
  font-size: 14px;
  color: #2c3e50;
}
.sidebar .sidebar-item .sidebar-content .sidebar-small-item a {
  color: #2c3e50;
  font-size: 14px;
  text-decoration: none;
}
.sidebar .sidebar-item .sidebar-content .sidebar-small-item a:hover {
  text-decoration: underline;
}
.sidebar .sidebar-item .sidebar-content .sidebar-small-item .description {
  font-size: 12px;
  color: #959595;
  margin-top: 4px;
}
p {
  margin-bottom: 15px;
  color: #363f44;
  font-size: 15px;
}
p a {
  color: #2c3e50;
}
p a:hover {
  color: #7997b5;
}
footer {
  height: 40px;
  line-height: 40px;
  background: #ecf0f1;
  font-size: 13px;
  color: #2c3e50;
  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.small-page {
  background: #e1e7ea url(../img/bg-small-page.jpg) no-repeat center center;
}
.login {
  width: 640px;
  margin: 50px auto 0;
}
.login .logo {
  display: inline-block;
}
.login .logo img {
  vertical-align: middle;
  margin-right: 10px;
}
.login .logo span {
  font-size: 33px;
  font-family: 'pf_dindisplay_probold', sans-serif;
  font-weight: bold;
  color: #2c3e50;
  text-transform: uppercase;
  vertical-align: middle;
}
.login h2 {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 20px;
  color: #2c3e50;
  font-family: 'pf_dindisplay_probold', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.login h3 {
  margin-top: 3px;
  font-size: 14px;
  color: #444;
}
.login form {
  border-radius: 10px;
  background: #fff;
  width: 385px;
  margin: 30px auto;
  padding: 25px 35px;
}
.login form .title {
  font-family: 'pf_dindisplay_probold', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #444;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 16px;
  margin-bottom: 20px;
}
.login form button {
  background: #2980b9;
  color: #fff;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  font-family: 'pf_dindisplay_probold', sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 6px;
  height: 40px;
  cursor: pointer;
  margin-bottom: 20px;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.login form button:hover {
  background: #409ad5;
}
.login form .picker {
  margin-bottom: 18px;
}
.login form .picker .picker-handle {
  margin-right: 15px !important;
}
.login form .picker .picker-label {
  margin-top: 2px;
}
.login form .picker label {
  font-size: 14px;
}
.login form a {
  font-size: 14px;
  color: #444;
  text-align: center;
  text-decoration: none;
}
.login form a:hover {
  text-decoration: underline;
}
.login .copyright {
  font-size: 14px;
  color: #444;
  text-align: center;
}
.loader-center {
  position: absolute;
  height: 90px;
  width: 90px;
  top: 50%;
  left: 50%;
  margin: -45px 0 0 -45px;
}
.loader-overflow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
}
.dropdown {
  position: relative;
  cursor: pointer;
}
.dropdown:not(.nohover):hover {
  border-bottom: 1px dashed #000;
}
.dropdown.active .dropdown-container {
  display: block;
}
.dropdown .dropdown-container {
  display: none;
  position: absolute;
  background: #fff;
  width: 100%;
  margin-top: 10px;
  z-index: 9;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border: 1px solid #acacac;
  border-radius: 3px;
}
.dropdown .dropdown-container a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #363f44;
}
.dropdown .dropdown-container a i {
  vertical-align: middle;
}
.dropdown .dropdown-container a:hover {
  background: #ecf0f1;
}
.dropdown.center .dropdown-container {
  text-align: center;
}
i.lang-rus {
  display: inline-block;
  width: 16px;
  height: 11px;
  background: url(../img/language/rus.png) no-repeat center center;
}
i.lang-eng {
  display: inline-block;
  width: 16px;
  height: 11px;
  background: url(../img/language/eng.png) no-repeat center center;
}
i.lang-cn {
  display: inline-block;
  width: 16px;
  height: 11px;
  background: url(../img/language/cn.png) no-repeat center center;
}
.tabbed {
  margin-top: 20px;
}
.tabbed .tabber-menu {
  border-bottom: 2px solid #d7dbdd;
  margin-bottom: 20px;
}
.tabbed .tabber-menu .tabber-handle {
  height: 35px;
  line-height: 35px;
  float: none;
  display: inline-block;
  color: #34495e;
  padding: 0 25px;
  text-decoration: none;
  border-radius: 7px 7px 0 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.tabbed .tabber-menu .tabber-handle.active {
  background: #ebebeb;
  border-color: #d3d5d7;
}
.tabbed .tabber-menu .tabber-handle:not(.active):hover {
  text-decoration: underline;
}
.tabbed .tabber-tab {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
h2 {
  font-weight: bold;
  font-size: 18px;
  margin: 30px 0 10px;
}
.table {
  width: 100%;
  margin-bottom: 30px;
  border-left: 3px solid #ecf0f1;
  border-right: 3px solid #ecf0f1;
  border-bottom: 3px solid #ecf0f1;
}
.table .summary {
  display: none;
}
.table .items {
  width: 100%;
}
.table .filters {
  background-color: #ECF0F1;
}
.table .items thead tr:first-child {
  display: none;
}
.table thead th {
  background: #ecf0f1;
  color: #2c3e50;
  vertical-align: middle;
  font-weight: 700;
  font-size: 13px;
  padding: 8px 0;
  border-bottom: 1px solid #edf0f1;
}
.table thead th:first-child {
  padding-left: 10px;
}
.table tbody tr:nth-child(even) {
  background: #f9fafb;
}
.table tbody tr td {
  border-bottom: 1px solid #edf0f1;
  vertical-align: middle;
  padding: 5px 0;
  color: #354050;
}
.table tbody tr td:first-child {
  padding-left: 10px;
}
.table tbody tr td:last-child {
  padding-right: 17px;
}
.table.table-left th,
.table.table-left td {
  text-align: left;
}
.table.table-with-border td {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.table.table-with-border td:first-child {
  border-left: none !important;
}
.table.table-with-border td:last-child {
  border-right: none !important;
}
.table .title {
  font-weight: bold;
  padding: 10px 0 10px 30px;
}
.table.green tbody tr:hover {
  background: #ecf0f1;
}
.table.green .title {
  background: #dff6ec;
}
.table.yellow tbody tr:hover {
  background: rgba(243, 218, 117, 0.8);
}
.table.yellow .title {
  background: #f2da75;
}
#calendar {
  border-bottom: 1px solid #eee;
}
#calendar .clndr {
  padding: 15px 18px;
  background: #fff;
}
#calendar .clndr .clndr-controls {
  width: 100%;
}
#calendar .clndr .clndr-controls .clndr-control-button {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  cursor: pointer;
}
#calendar .clndr .clndr-controls .clndr-control-button:last-child {
  text-align: right;
}
#calendar .clndr .clndr-controls .clndr-control-button .clndr-previous-button,
#calendar .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 100%;
  height: 15px;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#calendar .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  background: url(../img/calendar-arrow-left.png) no-repeat center center;
  margin-left: 5px;
}
#calendar .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  background: url(../img/calendar-arrow-right.png) no-repeat center center;
}
#calendar .clndr .clndr-controls .month {
  display: inline-block;
  text-align: center;
  width: 56%;
  text-transform: uppercase;
  font-size: 15px;
  color: #363f44;
}
#calendar .clndr .clndr-table {
  margin-top: 20px;
  width: 100%;
}
#calendar .clndr .clndr-table .header-days .header-day {
  font-size: 12px;
  color: #363f44;
  text-align: center;
  padding-bottom: 5px;
}
#calendar .clndr .clndr-table .day {
  text-align: center;
  padding: 7px 0;
  font-size: 13px;
  color: #63676b;
}
#calendar .clndr .clndr-table .day .day-contents {
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: inline-block;
  border-radius: 50%;
}
#calendar .clndr .clndr-table .today .day-contents {
  background: #dff6ec;
}
#calendar .clndr .clndr-table .event .day-contents {
  background: #f2da75;
}
#calendar .clndr .clndr-table .past {
  color: #eee;
}
#calendar .clndr .events .event-header {
  text-align: center;
  font-size: 15px;
  color: #363f44;
  display: block;
}
#calendar .clndr .events .event {
  margin-bottom: 7px;
}
#calendar .clndr .events .event:first-child {
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding-top: 20px;
}
#calendar .clndr .events .event i.yelbtn {
  width: 6px;
  height: 6px;
  display: inline-block;
  vertical-align: middle;
  background: #f2da75;
  border-radius: 50%;
  margin-right: 8px;
}
#calendar .clndr .events .event a {
  vertical-align: middle;
}
.test-stat {
  font-size: 16px;
  color: #959595;
}
.text-block {
  margin-top: 15px;
}
.text-block .block-header {
  background: #dadfe1;
  color: #2c3e50;
  font-size: 16px;
  padding: 14px 20px;
  font-weight: bold;
}
.text-block .block-content {
  background: #fbfcfc;
  padding: 14px 35px;
  /*
    border-left: 3px solid #ecf0f1;
    border-right: 3px solid #ecf0f1;
    border-bottom: 3px solid #ecf0f1;
    */
}
.text-block label {
  font-size: 16px !important;
  color: #2c3e50 !important;
}
.test-submit {
  margin-top: 20px;
}
a.btn {
  display: inline-block;
  text-decoration: none;
}
.btn {
  height: 35px;
  border: none;
  outline: none;
  font-size: 16px;
  text-align: center;
  line-height: 35px;
  padding: 0 40px;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'PT Sans', sans-serif !important;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.btn:hover {
  opacity: .8;
}
.small-btns .btn {
  font-size: 17px !important;
}
.btn.small {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
}
.btn.tiny {
  font-size: 13px;
  height: 23px;
  line-height: 23px;
  padding: 0 10px;
}
.btn.green {
  background: #00b16a;
  color: #fff;
}
.btn.blue {
  background: #2980b9;
  color: #fff;
}
.btn.white {
  background: #fff;
  border: 1px solid #2c3e50;
}
.btn.gray {
  background: #959595;
  color: #fff;
}
button.close {
  background: none;
  border: none;
  outline: none;
  float: right;
}
.picker .picker-label {
  float: none !important;
}
.checkbox-green .picker .picker-handle {
  border: none !important;
}
.checkbox-green .picker .picker-flag {
  background-color: #d7dbdd !important;
}
.checkbox-green .picker.checked .picker-flag {
  background-color: #00b16a !important;
  background-image: url(../css/plugins/jquery.fs.picker-icon-white.png) !important;
}
.radio-green .picker .picker-handle {
  border: none !important;
  background-color: #d7dbdd !important;
}
.radio-green .picker .picker-handle .picker-flag {
  margin: 4px !important;
  background: #eee !important;
}
.radio-green .picker.checked .picker-handle {
  background: #00b16a !important;
}
.radio-green .picker.checked .picker-flag {
  background: #fff !important;
}
dl.test-info {
  min-width: 400px;
  max-width: 450px;
  margin-top: 15px;
}
dl.test-info dt {
  width: 40%;
  float: left;
  font-weight: bold;
}
dl.test-info dd {
  width: 60%;
  float: left;
}
dl.test-answer-info {
  min-width: 500px;
  margin-top: 15px;
  border-top: 1px solid #ccc;
  display: block;
  padding-top: 20px;
}
dl.test-answer-info dt {
  width: 40%;
  float: left;
  font-weight: bold;
}
dl.test-answer-info dd {
  width: 60%;
  float: left;
}
.tabber-handle.mobile {
  display: none !important;
}
.course-filter {
  margin-top: 20px;
}
.paginator {
  margin-top: 10px;
}
.paginator span {
  padding: 0 7px;
  font-weight: bold;
  font-size: 15px;
  color: #ccc;
}
.paginator a {
  text-decoration: none;
}
.paginator a span {
  color: #16a085;
}
.paginator a.active span {
  color: #138770;
}
.paginator a:hover span {
  color: #138770;
}
.login input[type='text'],
.login input[type='password'] {
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
input {
  height: 30px;
  line-height: 30px;
  border: 2px solid #bdc3c7;
  border-radius: 5px;
  color: #2c3e50;
  font-size: 13px;
  padding: 0 7px;
  outline: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input:focus,
input:active {
  border-color: #3498db;
}
input[disabled='disabled'] {
  border-color: #bdc3c7;
  cursor: no-drop !important;
}
input[disabled='disabled']:focus,
input[disabled='disabled']:active {
  border-color: #bdc3c7;
}
select {
  min-width: 100px;
  background: #fff;
  height: 30px;
  line-height: 30px;
  border: 2px solid #bdc3c7;
  border-radius: 5px;
  color: #2c3e50;
  font-size: 13px;
  padding: 0 7px;
  outline: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
select:focus {
  border-color: #3498db;
}
select[disabled='disabled'] {
  border-color: #bdc3c7;
  cursor: no-drop !important;
}
select[disabled='disabled']:focus {
  border-color: #bdc3c7;
}
textarea {
  min-height: 100px;
  border: 2px solid #bdc3c7;
  border-radius: 5px;
  color: #2c3e50;
  font-size: 13px;
  padding: 9px 7px;
  outline: none;
  vertical-align: middle;
  margin-bottom: 15px;
  resize: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
textarea:focus,
textarea:active {
  border-color: #3498db;
}
.form {
  margin: 15px 0;
}
.form label {
  display: block;
  margin-bottom: 20px;
  vertical-align: middle;
}
.form label span {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}
.form label input,
.form label textarea {
  margin-left: 30px;
  width: 30%;
  vertical-align: middle;
}
.form label textarea {
  width: 60%;
  min-height: 200px;
}
.form label .label-right {
  min-width: 30%;
  margin-left: 30px;
  vertical-align: middle;
  display: inline-block;
}
.form.modal-form label {
  display: inline-block;
  width: 130px;
  vertical-align: inherit !important;
}
.form.modal-form input,
.form.modal-form a.btn {
  vertical-align: middle;
}
.form.inline {
  padding: 20px;
  border: 5px solid #eee;
  margin-bottom: 20px;
}
.form.inline label {
  display: inline-block;
  vertical-align: inherit;
  width: 220px;
}
.form.inline input:not(type='submit'),
.form.inline select {
  vertical-align: middle;
  box-sizing: border-box;
  width: 300px;
}
.form.noborder {
  border: none !important;
}
.col-group h2 {
  margin-top: 5px;
}
.file-icon {
  max-width: 20px;
  width: 100%;
  margin-right: 20px;
  z-index: 0;
  position: relative;
}
.fa-loading-icon {
  display: none;
  color: #2c3e50;
  margin-right: 15px;
  vertical-align: middle;
}
.ui-menu .ui-menu-item a {
  font-size: 13px;
  font: 'PT Sans', sans-serif !important;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
  background: #f9fafb !important;
  border-color: transparent !important;
  border-radius: 0 !important;
}
.ui-button {
  background: #fff;
  border-radius: 50%;
  outline: none;
  height: 30px !important;
  width: 30px !important;
  vertical-align: bottom;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.ui-button.ui-state-hover,
.ui-button.ui-state-active {
  background: #f9faffb !important;
}
.breadcrumbs {
  margin: 19px 0;
}
.row.radio-images > label {
  display: inline-block;
  width: 150px;
}
.row.radio-images .picker {
  display: inline-block;
  width: 35px;
  vertical-align: top;
}
.row.radio-images br {
  display: none !important;
}
.row.row-inline {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}
.row.row-inline label {
  width: auto;
  margin-right: 10px;
  vertical-align: middle;
}
.row.row-inline .picker-label {
  width: 200px;
}
.row.row-inline .picker {
  padding-top: 20px;
}
.row.row-inline input {
  width: 80px;
  vertical-align: text-bottom;
}
.icon-colored {
  font-size: 25px;
}
.icon-colored.icon-blue {
  color: #33B9FF;
}
.icon-colored.icon-red {
  color: #FF5454;
}
.icon-colored.icon-violet {
  color: #564ACA;
}
.icon-colored.icon-pink {
  color: #FB668D;
}
input {
  line-height: normal;
}
#ms-addGroupsSelect {
  margin: 20px auto;
}
.uploader-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  border: 2px dashed #33B9FF;
  text-align: center;
  min-height: 125px;
}
.uploader-info span {
  margin-top: 50px;
  display: inline-block;
  font-weight: bold;
  color: #000;
}
.uploader-info.active {
  background: #fff;
  border: 2px solid #33B9FF;
}
.uploader-info.active span {
  color: #00b16a;
}
i.fa-remove {
  color: #7997b5;
}
i.fa-remove:hover {
  color: #e74c3c;
}
.horizontal-buttons-list .picker.picker-radio {
  float: left;
  width: 30px;
}
.horizontal-buttons-list .picker.picker-radio img {
  padding: 5px;
}
.horizontal-buttons-list .picker.picker-radio.checked img {
  background: #eee;
}
.horizontal-buttons-list .picker-handle {
  display: none !important;
}
.horizontal-buttons-list br {
  display: none !important;
}
#leftAnswers {
  display: block;
  float: left;
  clear: left;
  width: 300px;
  counter-reset: leftAnswers;
  position: relative;
}
#rightAnswers {
  display: block;
  float: right;
  clear: right;
  width: 300px;
  counter-reset: rightAnswers;
  position: relative;
}
.leftAnswer:before {
  counter-increment: leftAnswers;
  content: counter(leftAnswers) ". ";
  color: #2980b9;
}
.rightAnswer:before {
  counter-increment: rightAnswers;
  content: counter(rightAnswers) ". ";
  color: #00b16a;
}
.leftAnswer,
.rightAnswer {
  border: 1px solid #dadfe1;
  padding: 9px;
  border-radius: 3px;
  margin: 5px 0;
  background: #fbfcfc;
  position: relative;
}
.rightAnswer {
  cursor: url("../img/openhand.cur") 8 8, move;
}
.rightAnswer.ui-sortable-helper {
  cursor: url("../img/closedhand.cur") 8 8, move;
}
.the-arrow {
  background: #eee;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 100%;
  top: 50%;
  margin-top: -1px;
}
.answer.wide input {
  min-width: 60%;
}
.toggler {
  font-size: 26px;
  vertical-align: middle;
  display: inline-block;
}
.toggler * {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.toggler input[type="checkbox"] {
  position: absolute;
  left: -9999px;
  opacity: 0;
}
.toggler span {
  display: block;
}
.toggler input[type="checkbox"] + span:after {
  content: '';
  font-family: 'FontAwesome';
}
.toggler input[type="checkbox"]:checked + span:after {
  content: '';
  font-family: 'FontAwesome';
  color: #00b16a;
}
.the-avatar-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  background-size: cover;
  background-position: center center;
}
.the-avatar-box.big {
  width: 100px;
  height: 100px;
}
.NFI-wrapper {
  cursor: pointer;
  display: block !important;
  position: relative !important;
}
.NFI-wrapper .NFI-button {
  top: 0;
  left: 0;
  line-height: 29px;
  border-right: 2px solid #bdc3c7;
  padding: 0 5px;
  height: 100%;
  position: absolute !important;
  background: #2980b9;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.NFI-wrapper .NFI-button:hover {
  opacity: .8;
}
.NFI-wrapper .NFI-filename {
  padding-left: 59px !important;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -310px 0 0 -320px;
  }
}
@media screen and (max-width: 1320px) {
  header .search input {
    width: 100px !important;
  }
}
@media screen and (max-width: 1279px) {
  header {
    padding-top: 5px;
  }
  header .search {
    display: none;
  }
  header .nav {
    position: relative;
  }
  header .nav .small-nav {
    display: block !important;
    z-index: 10;
    cursor: pointer;
  }
  header .nav .small-nav:hover {
    opacity: .8;
  }
  header .nav .small-nav img {
    vertical-align: text-top;
  }
  header .nav .big-nav {
    display: none !important;
    z-index: 9;
    position: absolute;
    background: #fff;
    text-align: center;
    margin-left: -42px;
    margin-top: 16px;
    box-shadow: 0px 6px 5px -1px rgba(0, 0, 0, 0.2);
  }
  header .nav .big-nav.active {
    display: block !important;
  }
  header .nav .big-nav a {
    width: 100px;
    margin: 0 !important;
  }
  header .nav .more-menu {
    left: 100% !important;
    top: 0 !important;
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 767px) {
  header .logo {
    width: 40px !important;
  }
  header .logo span {
    display: none !important;
  }
}
.table .summary {
  display: none;
}
.table .items {
  width: 100%;
}
.table .filters {
  background-color: #ECF0F1;
}
ul.yiiPager a {
  background: #ecf0f1;
  color: #000 !important;
  text-decoration: none;
  padding: 7px !important;
  font-size: 12px !important;
  text-align: center;
  border-radius: 2px;
  border: none !important;
}
ul.yiiPager a:hover {
  background: #434e54;
  color: #fff !important;
}
ul.yiiPager li.selected a {
  color: #fff !important;
}
.pager {
  padding: 20px 5px;
}
.strength_meter {
  height: 30px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}
.strength_meter div {
  width: 100%;
  height: 30px;
  text-align: center;
  color: black;
  font-weight: bold;
  line-height: 30px;
  text-align: right;
  border-radius: 5px;
  padding-right: 10px;
  font-size: 11px;
}
.strength_meter p {
  display: none;
}
.button_strength {
  display: none;
}
.veryweak {
  background-color: #FFA0A0;
}
.weak {
  background-color: #FFB78C;
}
.medium {
  background-color: #FFEC8B;
}
.strong {
  background-color: #C3FF88;
}
.input-full-width {
  position: relative;
}
.strength {
  position: relative;
  z-index: 10;
  background-color: transparent;
  top: 0;
  position: absolute;
  padding-right: 70px;
}
a.update + a.delete {
  padding-left: 15px;
}
.mark-bad {
  color: #e74c3c;
}
.hover-table tr:hover td {
  background: #ecf0f1;
}
@media print {
  header .nav,
  header .user,
  header .search,
  .wrapper .sidebar,
  footer,
  .page-print {
    display: none !important;
  }
}
#forum-layout .grid-view table.items th {
  background: #2980b9;
}
#forum-layout .newthread {
  margin: 10px 0;
}
#forum-layout .items td {
  padding: 9px .3em;
  border-bottom: 1px solid #edf0f1;
}
#forum-layout .items .odd {
  background: #fff !important;
}
#forum-layout .items .even {
  background: #f9fafb !important;
}
#forum-layout .items .odd:hover,
#forum-layout .items .even:hover {
  background: #ecf0f1 !important;
}
#forum-layout div.post div.header {
  background: #ecf0f1 !important;
}
#forum-layout .preheader {
  background: #ecf0f1 !important;
  color: #2c3e50;
  font-weight: bold;
  font-size: 14px;
  text-align: left !important;
}
#forum-layout .preheader a {
  color: #2c3e50;
}
#forum-layout .preheader a:hover {
  text-decoration: underline;
  color: #7997b5;
}
.ui-front {
  z-index: 10000;
}
.goog-te-banner-frame {
  display: none !important;
}
.goog-tooltip {
  display: none !important;
}
.goog-tooltip:hover {
  display: none !important;
}
.goog-text-highlight {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.post-answer-view {
  width: 100%;
}
.post-answer-view td {
  border-bottom: none !important;
  vertical-align: top !important;
}
.post-answer-view td:first-child {
  border-right: 1px solid #edf0f1;
  padding-left: 10px !important;
  width: 20%;
}
.post-answer-view td:last-child {
  padding-left: 10px !important;
  width: 80%;
}
.sidebar-content .fc-unthemed h2 {
  font-weight: normal;
  font-size: 15px;
  text-transform: capitalize;
}
.sidebar-content .fc-unthemed .fc-state-default {
  background: none;
  box-shadow: none;
  border: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidebar-content .fc-unthemed .fc-state-hover {
  background: white;
}
.sidebar-content .fc-unthemed .fc-month-view table .fc-day-header {
  text-transform: uppercase;
  font-size: 12px;
}
.sidebar-content .fc-unthemed .fc-month-view table .fc-day {
  vertical-align: middle !important;
}
.sidebar-content .fc-unthemed .fc-event-container {
  text-align: center;
}
.sidebar-content .fc-unthemed .fc-event-container a {
  display: inline-block;
}
#selectUserDialog input {
  width: 100%;
}
#selectUserDialog .dd-pointer {
  right: 20px !important;
}
.modal .dd-container,
.modal .dd-select {
  width: 100% !important;
}
.modal input:not(.btn) {
  width: 100% !important;
}
.modal .dd-pointer {
  right: 20px !important;
}
.success,
.error {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 15px;
}
.success {
  color: #00b16a;
}
.error {
  color: #e74c3c;
}
.forgot-tab {
  display: none;
}
.bottoms-info-table {
  padding-left: 44px;
  color: #666;
}
.bottoms-info-table span {
  display: block;
  max-width: 500px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.short-link {
  display: block;
  max-width: 500px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.relax {
  padding: 20px 16px;
  border: 1px solid #DEE1E2;
  box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}
.relax p,
.relax a,
.relax strong {
  color: #fff;
}
.relax p {
  margin: 0;
}
.noty_container_type_information {
  background: #ecf0f1;
}
.noty_container_type_success {
  background: #00b16a;
  color: #fff;
}
.noty_container_type_alert {
  background: #e74c3c;
  color: #fff;
}
.changeOnEnter {
  width: calc(100% - 45px) !important;
}
.row.buttons {
  text-align: left !important;
}
.getmaterial a {
  color: blue;
}
.modal-dialog {
  width: 700px !important;
}
.modal-dialog table {
  width: 100%;
}
.modal-dialog input[type="text"],
.modal-dialog input[type="email"],
.modal-dialog input[type="password"],
.modal-dialog textarea {
  width: 100% !important;
}
.ms-container {
  width: 100% !important;
}
